{
	"env": {
		"es6": true
	},

	"ecmaFeatures": {
		"modules": true
	},

	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended",
		"plugin:unicorn/recommended",
		"plugin:jsx-a11y/recommended"
	],

	"plugins": ["prettier", "unicorn", "jsx-a11y"],

	"rules": {}
}
